
/* Navbar stuffs */

nav.navbar-neamtime {
	transform : skew(-15deg);
	width: 80%;
	margin: 0 auto;

	}

navbar-button {
	margin: 10px;
	line-height: match-parent;
}

/* Utility divs */

outer_wrapper {
	display : flex;
	flex-direction: row;
}

/* misc */

h3 {transform: skew(-200deg);}
