{% extends "index.html" %}

{% block content %}
  <h1>Login</h1>
      <form action="/login" method="POST">
          <label for="name">Username:</label>
          <input type="text" name="name" id="name" required>
          <br>
          <br>
          <label for="name">Password:</label>
          <input type="password" name="password" id="password" required>
          {% if error != "" %}
          <p style="color:red">{{ error }}</p>
          {% endif %}
          <button class="submit button" name="register" id="register">Submit</button>
      </form>
{% endblock %}
